In [18]:
import numpy as np
import pandas as pd

In [19]:
df_list = []
for i in range(8):
    df_list.append((pd.read_csv(f"Cluster_{i+1}.csv"),pd.read_csv(f"Forecast_{i+1}.csv")))

In [20]:
res = []
for cluster,forecast in df_list:
    res.append(pd.concat([cluster,forecast],axis = 1))

In [21]:
df_2019 = pd.concat([res[i] for i in range(8)], axis = 0)

In [22]:
df_2019 = df_2019.sort_values(by = "Index")

In [23]:
df_2019.drop(columns=["Vals"], inplace=True)

In [24]:
df_2019.rename(columns = {"Forecast" : "2019"},inplace=True)

In [25]:
df_2019.to_csv("pred_2019.csv",index=False)

In [26]:
df_2019.describe()

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000
mean,1208.500000,22.506537,71.826215,144.401424,150.860247,109.468899,161.886430,157.954024,132.898633,113.089323,159.163367,147.225205,145.143866
std,698.160798,1.034936,1.389804,146.506351,142.264612,110.249714,180.337708,139.870466,129.689111,102.092570,158.993069,133.569981,131.257199
min,0.000000,20.154560,68.624190,0.000167,0.000433,0.000290,0.000532,0.000155,0.000072,0.000151,0.000191,0.000611,0.000680
25%,604.250000,21.685970,70.774060,23.449163,25.576084,22.711070,27.044554,31.514698,22.732275,22.658495,26.064368,27.046663,27.139275
50%,1208.500000,22.491970,71.888820,112.298855,126.291077,82.271317,117.662296,136.859337,106.789989,91.721931,120.519817,125.245762,124.519330
75%,1812.750000,23.297970,73.003570,207.689327,226.197079,163.512547,222.835739,241.965115,196.102222,177.136295,231.067348,222.333919,219.472729
max,2417.000000,24.668180,74.436820,883.691711,771.061646,871.800415,1232.853760,871.800415,771.061646,514.148987,883.691711,808.984022,798.466997

In [30]:
f19 = df_2019["2019"].values

In [31]:
f18 = df_2019["2018"].values

In [32]:
f18.shape

(2418,)

In [33]:
fmin = []
for i in range(f18.shape[0]):
    fmin.append(min(f18[i],f19[i]))

In [37]:
pd.concat([df_2019,pd.DataFrame(np.array(fmin), columns = ["Min1819"])],axis = 1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [39]:
df_2019["Min1819"] = fmin

In [42]:
df_2019.to_csv("pred_2019.csv",index = False)