In [325]:
import pandas as pd
import numpy as np

In [457]:
df_depot = pd.read_csv("18SBiomass_supply.csv")

In [458]:
df_depot.shape

(1618, 3)

In [459]:
df_depot

      Source  Destination      Value
0          0          102   6.262531
1          1          102  37.362860
2          2          102  67.924084
3          3          102  93.080531
4          4          102  22.703812
...      ...          ...        ...
1613    2315         2133  21.432194
1614    2334         2133   5.910237
1615    2335         2133  20.417439
1616    2336         2133   8.415410
1617    2337         2133   1.570685

[1618 rows x 3 columns]

In [460]:
hlist = list(set(df_depot["Source"]))
blist  = list(set(df_depot["Destination"]))

In [461]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
    if len(a_set.intersection(b_set)) > 0:
        return(True)
    return(False)

In [462]:
common_member(hlist,blist)

False

In [463]:
len(blist)

15

In [464]:
len(hlist)

1605

In [465]:
res = []
for i in hlist:
    res.append([df_depot[df_depot["Source"] == i]["Source"].tolist()[0],df_depot[df_depot["Source"] == i]["Value"].sum()])

In [466]:
esth = pd.DataFrame(np.array(res), columns = ["Index", "Value"])

In [467]:
esth.head()

   Index      Value
0    0.0   6.262531
1    1.0  37.362860
2    2.0  67.924084
3    3.0  93.080531
4    4.0  22.703812

In [468]:
Biomass = pd.read_csv("D:\Shell.ai\Final_try\pred_2019.csv")[["Index","2018"]]

In [469]:
true =  Biomass.loc[hlist]

In [470]:
true.index = range(true.shape[0])

In [471]:
true.head()

   Index       2018
0      0   6.262531
1      1  37.362860
2      2  67.924084
3      3  93.080531
4      4  22.703812

In [472]:
((true["2018"]  - esth["Value"])).min()

-2.2737367544323206e-13

In [473]:
for i in range(true.shape[0]):
    idx = true.loc[i]["Index"]
    diff = true.loc[i]["2018"] - esth.loc[i]["Value"]
    if(diff < 0 ):
        valarr = df_depot[df_depot["Source"] == idx]["Value"].values
        maxid = np.argmax(valarr)
        valarr[maxid] -= abs(diff+0.00001)
        df_depot.loc[df_depot["Source"] == idx, "Value"] = valarr

In [474]:
df_depot.to_csv("Cleaned_depot_18.csv",index = False)

# Refineries

In [101]:
df_ref = pd.read_csv("19Pellets_supply.csv")

In [102]:
df_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Source       21 non-null     int64
 1   Destination  21 non-null     int64
 2   Value        21 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 632.0 bytes

In [103]:
df_ref = df_ref[df_ref['Value'] >= 0.001]

In [104]:
df_ref

    Source  Destination    Value
0      102           83  19999.0
1      394           83  19999.0
3      486           83      4.0
4      486          863  19995.0
5      985          863  19999.0
6     1004           83  19999.0
8     1011           83  19999.0
9     1203          863  19999.0
11    1238           83  19950.0
12    1341          863  19999.0
14    1390          863  19958.0
16    1521         1699  19999.0
17    1743         1699  19999.0
18    1759         1699  19999.0
19    1860         1699  19999.0
20    2133         1699  19954.0

In [105]:
df_ref.to_csv("Cleaned_refinery_19.csv",index =False)

In [106]:
abs(df_ref["Value"].sum() - df_depot["Value"].sum()) <= 0.001

True

In [107]:
rlist = list(set(df_ref["Source"]))

In [108]:
len(rlist)

15

In [45]:
res = []
for i in rlist:
    res.append([df_ref[df_ref["Source"] == i]["Source"].tolist()[0],df_ref[df_ref["Source"] == i]["Value"].sum()])

In [49]:
estb = pd.DataFrame(np.array(res), columns = ["Index", "Value"])

In [50]:
blist = list(set(df_depot["Destination"]))

In [54]:
res = []
for i in blist:
    res.append([df_depot[df_depot["Destination"] == i]["Destination"].tolist()[0],df_depot[df_depot["Destination"] == i]["Value"].sum()])

In [55]:
estb = pd.DataFrame(np.array(res), columns = ["Index", "Value"])

In [56]:
(est.sort_values(by="Index")["Value"] - estb.sort_values(by="Index")["Value"]).min()

-3.637978807091713e-12

In [510]:
bio18 = pd.read_csv("Cleaned_depot_18.csv")
bio19 = pd.read_csv("Cleaned_depot_19.csv")

In [511]:
ref18 = pd.read_csv("Cleaned_refinery_18.csv")
ref19 = pd.read_csv("Cleaned_refinery_19.csv")

In [512]:
bio18.head()

   Source  Destination      Value
0       0          102   6.262531
1       1          102  37.362860
2       2          102  67.924084
3       3          102  93.080531
4       4          102  22.703812

In [513]:
bio18list = list(set(bio18['Destination']))

In [514]:
len(bio18list)

15

In [515]:
res = []
for i in bio18list:
    res.append([bio18[bio18["Destination"] == i]["Destination"].tolist()[0],bio18[bio18["Destination"] == i]["Value"].sum()])

In [516]:
est18 = pd.DataFrame(np.array(res), columns = ["Index", "Value"])

In [517]:
est18

     Index        Value
0   1860.0  19998.99998
1    102.0  19998.99998
2    486.0  19998.99999
3    394.0  19999.00000
4   1004.0  19999.00000
5   1390.0  19998.99998
6   1743.0  19998.99999
7   1521.0  19999.00000
8   1011.0  19999.00000
9   1203.0  19998.99997
10  2133.0  19998.99999
11  1238.0  19998.99994
12   985.0  19998.99999
13  1341.0  19999.00000
14  1759.0  19999.00000

In [518]:
ref18list = list(set(ref18['Source']))

In [519]:
ref18list

[1860,
 102,
 486,
 394,
 1004,
 1390,
 1743,
 1521,
 1011,
 1203,
 2133,
 1238,
 985,
 1341,
 1759]

In [520]:
res = []
for i in ref18list:
    res.append([ref18[ref18["Source"] == i]["Source"].tolist()[0],ref18[ref18["Source"] == i]["Value"].sum()])

In [521]:
true18 = pd.DataFrame(np.array(res), columns = ["Index", "Value"])

In [523]:
true18

     Index    Value
0   1860.0  19999.0
1    102.0  19999.0
2    486.0  19999.0
3    394.0  19999.0
4   1004.0  19999.0
5   1390.0  19999.0
6   1743.0  19999.0
7   1521.0  19999.0
8   1011.0  19999.0
9   1203.0  19999.0
10  2133.0  19999.0
11  1238.0  19999.0
12   985.0  19999.0
13  1341.0  19999.0
14  1759.0  19999.0

In [536]:
idx = true18.loc[0]["Index"]
diff = true18.loc[0]["Value"] - est18.loc[0]["Value"]

In [532]:
diff > 0.1

False

In [534]:
true18.loc[0]["Value"]

19999.0

In [542]:
est18.loc[0]["Value"] - round(diff,1)

19998.99998

In [545]:
19999 - 199

0.0

In [506]:
for i in range(true18.shape[0]):
    idx = true18.loc[i]["Index"]
    diff = true18.loc[i]["Value"] - est18.loc[i]["Value"]
    if(diff > 0.0001 ):
        valarr = ref18[ref18["Source"] == idx]["Value"].values
        maxid = np.argmax(valarr)
        valarr[maxid] -= abs(diff)
        ref18.loc[ref18["Source"] == idx, "Value"] = valarr

In [507]:
ref18

    Source  Destination    Value
0      102           83  19999.0
1      394           83  19999.0
2      486          863  19999.0
3      985          863  19999.0
4     1004           83  19991.0
5     1004          863      8.0
6     1011           83  19999.0
7     1203          863  19999.0
8     1238           83  19999.0
9     1341          863  19999.0
10    1390          863  19995.0
11    1390         1699      4.0
12    1521         1699  19999.0
13    1743         1699  19999.0
14    1759         1699  19999.0
15    1860         1699  19999.0
16    2133         1699  19999.0