In [1]:
import numpy as np
import pandas as pd

In [10]:
df_list = []
for i in range(8):
    df_list.append((pd.read_csv(f"Cluster_{i+1}.csv"),pd.read_csv(f"Forecast_{i+1}.csv")))

In [14]:
res = []
for cluster,forecast in df_list:
    res.append(pd.concat([cluster,forecast],axis = 1))

In [18]:
df_2018 = pd.concat([res[i] for i in range(8)], axis = 0)

In [19]:
df_2018 = df_2018.sort_values(by = "Index")

In [22]:
df_2018.drop(columns=["Vals"], inplace=True)

In [26]:
df_2018.rename(columns = {"Forecast" : "2018"},inplace=True)

In [28]:
df_2018.to_csv("pred_2018.csv",index=False)

In [29]:
df_2018.describe()

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000
mean,1208.500000,22.506537,71.826215,144.401424,150.860247,109.468899,161.886430,157.954024,132.898633,113.089323,159.163367,147.225205
std,698.160798,1.034936,1.389804,146.506351,142.264612,110.249714,180.337708,139.870466,129.689111,102.092570,158.993069,133.569981
min,0.000000,20.154560,68.624190,0.000167,0.000433,0.000290,0.000532,0.000155,0.000072,0.000151,0.000191,0.000611
25%,604.250000,21.685970,70.774060,23.449163,25.576084,22.711070,27.044554,31.514698,22.732275,22.658495,26.064368,27.046663
50%,1208.500000,22.491970,71.888820,112.298855,126.291077,82.271317,117.662296,136.859337,106.789989,91.721931,120.519817,125.245762
75%,1812.750000,23.297970,73.003570,207.689327,226.197079,163.512547,222.835739,241.965115,196.102222,177.136295,231.067348,222.333919
max,2417.000000,24.668180,74.436820,883.691711,771.061646,871.800415,1232.853760,871.800415,771.061646,514.148987,883.691711,808.984022