In [1]:
import pandas as pd
import numpy as np

In [2]:
df_11 = pd.read_csv("Depots_11.csv")

In [3]:
bio_11 = pd.read_csv("Depots_11_values.csv")

In [4]:
inds = pd.DataFrame(bio_11.columns.tolist())

In [5]:
df_11["Index"] = inds

In [6]:
df_11

     Loc Index
0      0  1596
1      0  1597
2      0  1598
3      0  1655
4      0  1656
..   ...   ...
355    0  2413
356    0  2414
357    0  2415
358    0  2416
359    0  2417

[360 rows x 2 columns]

In [7]:
Biomass = pd.DataFrame(bio_11.sum(axis = 0).tolist())

In [8]:
df_11["Biomass"] = Biomass

In [9]:
df_11 = df_11[df_11["Loc"] == 1]

In [10]:
df_11

     Loc Index       Biomass
122    1  2069  11241.008662
168    1  2133  20000.000003

In [11]:
df_12 = pd.read_csv("Depots_12.csv")

In [12]:
bio_12 = pd.read_csv("Depots_12_values.csv")

In [13]:
inds = pd.DataFrame(bio_12.columns.tolist())
df_12["Index"] = inds
Biomass = pd.DataFrame(bio_12.sum(axis = 0).tolist())

In [14]:
df_12["Biomass"] = Biomass
df_12 = df_12[df_12["Loc"] == 1]
df_12

     Loc Index       Biomass
77     1  1341  17951.287498
174    1  1759  14780.734885
197    1  1860  20000.000004

In [15]:
df_2 = pd.read_csv("Depots_2.csv")

In [16]:
bio_2 = pd.read_csv("Depots_2_values.csv")

In [17]:
inds = pd.DataFrame(bio_2.columns.tolist())
df_2["Index"] = inds
Biomass = pd.DataFrame(bio_2.sum(axis = 0).tolist())

In [18]:
df_2["Biomass"] = Biomass
df_2 = df_2[df_2["Loc"] == 1]
df_2

     Loc Index       Biomass
145    1   985  19999.999996

In [19]:
df_6 = pd.read_csv("Depots_6.csv")
bio_6 = pd.read_csv("Depots_6_values.csv")
inds = pd.DataFrame(bio_6.columns.tolist())
df_6["Index"] = inds
Biomass = pd.DataFrame(bio_6.sum(axis = 0).tolist())
df_6["Biomass"] = Biomass
df_6 = df_6[df_6["Loc"] == 1]
df_6

     Loc Index       Biomass
36     1  1004  11970.297700
134    1  1609  10714.950869
166    1  1717  13257.065347
341    1  2187  14933.310368

In [20]:
df_31 = pd.read_csv("Depots_31.csv")
bio_31 = pd.read_csv("Depots_31_values.csv")
inds = pd.DataFrame(bio_31.columns.tolist())
df_31["Index"] = inds
Biomass = pd.DataFrame(bio_31.sum(axis = 0).tolist())
df_31["Biomass"] = Biomass
df_31 = df_31[df_31["Loc"] == 1]
df_31

     Loc Index       Biomass
201    1  1203   9267.783405
240    1  1521  10732.216591

In [21]:
df_32 = pd.read_csv("Depots_32.csv")
bio_32 = pd.read_csv("Depots_32_values.csv")
inds = pd.DataFrame(bio_32.columns.tolist())
df_32["Index"] = inds
Biomass = pd.DataFrame(bio_32.sum(axis = 0).tolist())
df_32["Biomass"] = Biomass
df_32 = df_32[df_32["Loc"] == 1]
df_32

     Loc Index       Biomass
73     1  1390  15417.926058
181    1  1743  14894.034410

In [22]:
df_4 = pd.read_csv("Depots_4.csv")
bio_4 = pd.read_csv("Depots_4_values.csv")
inds = pd.DataFrame(bio_4.columns.tolist())
df_4["Index"] = inds
Biomass = pd.DataFrame(bio_4.sum(axis = 0).tolist())
df_4["Biomass"] = Biomass
df_4 = df_4[df_4["Loc"] == 1]
df_4

     Loc Index       Biomass
95     1   102  17888.585402
247    1   486  13679.526204

In [23]:
df_51 = pd.read_csv("Depots_51.csv")
bio_51 = pd.read_csv("Depots_51_values.csv")
inds = pd.DataFrame(bio_51.columns.tolist())
df_51["Index"] = inds
Biomass = pd.DataFrame(bio_51.sum(axis = 0).tolist())
df_51["Biomass"] = Biomass
df_51 = df_51[df_51["Loc"] == 1]
df_51

     Loc Index       Biomass
162    1  1011  18604.812593
260    1  1238  18599.215356

In [24]:
df_52 = pd.read_csv("Depots_52.csv")
bio_52 = pd.read_csv("Depots_52_values.csv")
inds = pd.DataFrame(bio_52.columns.tolist())
df_52["Index"] = inds
Biomass = pd.DataFrame(bio_52.sum(axis = 0).tolist())
df_52["Biomass"] = Biomass
df_52 = df_52[df_52["Loc"] == 1]
df_52

    Loc Index       Biomass
92    1   394  19545.132849

In [33]:
sorted_biomass = pd.concat([df_11,df_12,df_2,df_31,df_32,df_4,df_51,df_52,df_6])

In [44]:
sorted_biomass.drop(columns=["Loc"],inplace=True)

In [46]:
sorted_biomass["Index"] = sorted_biomass["Index"].astype(int)

In [48]:
sorted_biomass.sort_values(by = "Index",inplace=True)

In [50]:
sorted_biomass.to_csv("Sorted_biomass.csv",index=False)